---
/** Genius Monkey wordmark. Stacked (two-line) or inline, with raspberry period. */
interface Props {
  variant?: "stacked" | "inline";
  /** Tailwind text-size class controlling overall scale */
  class?: string;
  inverted?: boolean;
  color1?: string;
  color2?: string;
  width?: number | string
  height?: number | string
}

const { variant = "stacked", class: className = "text-xl", inverted = false, color1 = "#000000", color2 = "#F7004E", width = "150", height = "auto" } = Astro.props;
const textColor = inverted ? "#FFFFFF" : color1;
---

<span
  class:list={[
    "font-display font-extrabold uppercase leading-[0.9] tracking-tight select-none",
    // inverted ? "text-white" : "text-ink",
    className,
  ]}
>
  {
    variant === "stacked" ? (
      <>
        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2264.87 745.64" fill={textColor} width={width} height={height}>
          <g id="Layer_47" data-name="Layer 47">
            <path fill={color2} d="M2193.85,603.6c40.59,0,71.02,31.82,71.02,71.02s-30.43,71.02-71.02,71.02-71.02-31.82-71.02-71.02,30.44-71.02,71.02-71.02Z"/>
            <polygon points="1549.99 398.44 1549.99 745.64 1810.39 745.64 1810.39 637.14 1701.89 637.14 1701.89 615.44 1788.69 615.44 1788.69 528.64 1701.89 528.64 1701.89 506.94 1810.39 506.94 1810.39 398.44 1549.99 398.44"/>
            <polygon points="1021.37 398.44 1151.57 398.44 1151.57 745.64 1021.37 745.64 934.57 615.44 934.57 745.64 804.37 745.64 804.37 398.44 934.57 398.44 1021.37 528.64 1021.37 398.44"/>
            <polygon points="252.9 605.8 252.9 745.64 390.33 745.64 390.33 398.44 260.13 398.44 195.03 495.69 130.2 398.44 0 398.44 0 745.64 137.44 745.64 137.44 605.8 195.03 693.8 252.9 605.8"/>
            <rect x="1166.66" y="398.44" width="151.9" height="347.2"/>
            <polygon points="1539.27 398.44 1463.19 572.04 1539 745.64 1387.1 745.64 1311.29 572.04 1387.1 398.44 1539.27 398.44"/>
            <polygon points="1803.25 398.44 1948.01 398.44 1998.55 485.24 2056.51 398.44 2193.85 398.44 2063.65 615.44 2063.65 745.64 1933.45 745.64 1933.45 615.44 1803.25 398.44"/>
            <path d="M597.35,378.09c-110.48,0-200.05,82.28-200.05,183.78s89.56,183.78,200.05,183.78,200.05-82.28,200.05-183.78-89.57-183.78-200.05-183.78ZM597.35,617.44c-33.41,0-60.49-24.88-60.49-55.57s27.08-55.57,60.49-55.57,60.49,24.88,60.49,55.57-27.08,55.57-60.49,55.57Z"/>
            <polygon points="345.33 10.25 345.33 357.45 605.74 357.45 605.74 248.95 497.24 248.95 497.24 227.25 584.04 227.25 584.04 140.45 497.24 140.45 497.24 118.75 605.74 118.75 605.74 10.25 345.33 10.25"/>
            <polygon points="836.23 10.25 966.44 10.25 966.44 357.45 836.23 357.45 749.43 227.25 749.43 357.45 619.23 357.45 619.23 10.25 749.43 10.25 836.23 140.45 836.23 10.25"/>
            <rect x="981.34" y="10.25" width="151.9" height="347.2"/>
            <path d="M1148.53,10.25v195.3c0,86.8,69.17,151.9,184.45,151.9s184.45-65.1,184.45-151.9V10.25h-151.9v195.3c0,21.7-8.29,43.4-32.55,43.4s-32.55-21.7-32.55-43.4V10.25h-151.9Z"/>
            <path d="M1808.5,249.65c0-51.37-38.57-95.6-92.7-111.27-33.64-9.74-44.7-14.89-41.56-27.51,2.36-9.45,23.83-10.59,49.11-3.4,25.43,7.23,47.08,16.98,76.24,40.59V32.37S1766.61.07,1669.46.07c-66.8,0-139.04,44.62-139.04,117.98,0,51.37,38.57,95.6,92.7,111.27,33.64,9.74,46.34,18.08,46.34,27.13,0,15.13-24.26,13.39-53.9,4.3-30.03-9.21-55.13-23.18-81.43-49.33l-20.75,112.99s72.93,43.22,156.08,43.22c66.8,0,139.04-44.62,139.04-117.98Z"/>
            <path d="M193.96,150.22l136.41-.36v146.37l1.05,61.29s-48.83,5.14-128.28,5.14C58.8,362.66,0,285.42,0,183.91,0,120.23,51.26,41.99,122.97,15.64c86.4-31.75,204.07-5.32,204.07-5.32v111.72c-11.98-3.75-86.53-22.84-132.21-13.6-35.76,7.24-66.24,22.81-66.24,76.79,0,62.16,34.73,74.33,70.73,78.06,11.21,1.16,15.91,1.53,26.29,1.13v-26.79h-30.71l-.94-87.4Z"/>
          </g>
        </svg>
      </>
    ) : (
      <>
        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4194.36 367.64" fill={textColor} width={width} height={height}>
          <g id="Layer_47" data-name="Layer 47">
            <path fill={color2} d="M4123.33,215.37c40.59,0,71.02,31.82,71.02,71.02s-30.43,71.02-71.02,71.02-71.02-31.82-71.02-71.02,30.44-71.02,71.02-71.02Z"/>
            <polygon points="3479.47 10.22 3479.47 357.42 3739.87 357.42 3739.87 248.92 3631.37 248.92 3631.37 227.22 3718.17 227.22 3718.17 140.42 3631.37 140.42 3631.37 118.72 3739.87 118.72 3739.87 10.22 3479.47 10.22"/>
            <polygon points="2950.85 10.22 3081.06 10.22 3081.06 357.42 2950.85 357.42 2864.05 227.22 2864.05 357.42 2733.85 357.42 2733.85 10.22 2864.05 10.22 2950.85 140.42 2950.85 10.22"/>
            <polygon points="2182.38 217.57 2182.38 357.42 2319.82 357.42 2319.82 10.22 2189.62 10.22 2124.52 107.47 2059.68 10.22 1929.48 10.22 1929.48 357.42 2066.92 357.42 2066.92 217.57 2124.52 305.58 2182.38 217.57"/>
            <rect x="3096.14" y="10.22" width="151.9" height="347.2"/>
            <polygon points="3468.76 10.22 3392.67 183.82 3468.49 357.42 3316.59 357.42 3240.77 183.82 3316.59 10.22 3468.76 10.22"/>
            <polygon points="3732.73 10.22 3877.49 10.22 3928.03 97.02 3985.99 10.22 4123.33 10.22 3993.13 227.22 3993.13 357.42 3862.93 357.42 3862.93 227.22 3732.73 10.22"/>
            <path d="M2526.83.04c-110.48,0-200.05,82.28-200.05,183.78s89.56,183.78,200.05,183.78,200.05-82.28,200.05-183.78S2637.32.04,2526.83.04ZM2526.83,239.39c-33.41,0-60.49-24.88-60.49-55.57s27.08-55.57,60.49-55.57,60.49,24.88,60.49,55.57-27.08,55.57-60.49,55.57Z"/>
            <polygon points="345.33 10.25 345.33 357.45 605.74 357.45 605.74 248.95 497.24 248.95 497.24 227.25 584.04 227.25 584.04 140.45 497.24 140.45 497.24 118.75 605.74 118.75 605.74 10.25 345.33 10.25"/>
            <polygon points="836.23 10.25 966.44 10.25 966.44 357.45 836.23 357.45 749.43 227.25 749.43 357.45 619.23 357.45 619.23 10.25 749.43 10.25 836.23 140.45 836.23 10.25"/>
            <rect x="981.34" y="10.25" width="151.9" height="347.2"/>
            <path d="M1148.53,10.25v195.3c0,86.8,69.17,151.9,184.45,151.9s184.45-65.1,184.45-151.9V10.25h-151.9v195.3c0,21.7-8.29,43.4-32.55,43.4s-32.55-21.7-32.55-43.4V10.25h-151.9Z"/>
            <path d="M1808.5,249.65c0-51.37-38.57-95.6-92.7-111.27-33.64-9.74-44.7-14.89-41.56-27.51,2.36-9.45,23.83-10.59,49.11-3.4,25.43,7.23,47.08,16.98,76.24,40.59V32.37S1766.61.07,1669.46.07c-66.8,0-139.04,44.62-139.04,117.98,0,51.37,38.57,95.6,92.7,111.27,33.64,9.74,46.34,18.08,46.34,27.13,0,15.13-24.26,13.39-53.9,4.3-30.03-9.21-55.13-23.18-81.43-49.33l-20.75,112.99s72.93,43.22,156.08,43.22c66.8,0,139.04-44.62,139.04-117.98Z"/>
            <path d="M193.96,150.22l136.41-.36v146.37l1.05,61.29s-48.83,5.14-128.28,5.14C58.8,362.66,0,285.42,0,183.91,0,120.23,51.26,41.99,122.97,15.64c86.4-31.75,204.07-5.32,204.07-5.32v111.72c-11.98-3.75-86.53-22.84-132.21-13.6-35.76,7.24-66.24,22.81-66.24,76.79,0,62.16,34.73,74.33,70.73,78.06,11.21,1.16,15.91,1.53,26.29,1.13v-26.79h-30.71l-.94-87.4Z"/>
          </g>
        </svg>
      </>
    )
  }
</span>
